@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Work Sans", sans-serif;
     
}
.container{
     position: relative;
     background-color: rgb(255, 255, 255);
     width: 120rem;
     height: 57rem;
     
}
.ul{
     list-style-type: none;
}
.img{
     position: absolute;
     width: 17rem;
     height: 96px;
     cursor: pointer;
}
.nav{
     display: flex;
     justify-content: center;
     position: fixed;
     background-color: hsl(0, 0%, 100%);
     width: 100%;
     height: 6rem;
     z-index: 1;

}
h1{
     position: absolute;
     top: 7rem;
     left: 50rem;
     font-size: 50px;
}
p{
     position: absolute;
     top: 12rem;
     left: 40rem;
}
h6{
     position: absolute;
     top: 24%;
     left: 47%;
}

.main-content{
     position: absolute;
     width: 70rem;
     height: 35rem;
     padding: 20px;
     top: 16rem;
     left: 25rem;
     border-radius: 20px;
     box-shadow: 0 12px 48px 0px rgba(43, 35, 50, 0.3);

}
.btn{
     display: flex;
     position: absolute;
     top: 48rem;
     left: 25rem;
     justify-content: space-evenly;
     text-align: center;
     align-items: center;
     background-color: rgb(255, 255, 255);
     width: 70rem;
     height: 3rem;
     border-radius: 20px;

}